            /* Important to note height width of elemnt needs to set on element itself */
            
            img{
                width: 300px;
                height: 300px;
            }
            .img-css{
                /* this float property also change the display property of div might be or forefully */
                float: left;
                margin: 5px;
            } 
            
            /* pseudo classes */
            img:hover{
                opacity: 0.6;
                /* border: 2px solid red; */
            }
            .img-css:hover{
                border: 2px solid red;
            }
            #myName_1{
                background-color: black;
                color: white;
            }
            input:focus{
                background-color: aquamarine;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: bold;
                color: blueviolet;
            }
            li{
                float: left;
                padding: 5px;
                /* helps to remove . */
                list-style: none;
                background-color: brown;
                border: 2px solid pink;
            }
            /* specific selctor styling */
            li a{
                text-decoration: none;
                color: aqua;
                text-transform: uppercase;
            }

            li:hover{
                background-color: cadetblue;
            }


            /* with , we can write two similar style for diffrent element */
            #music th, #music td{
                border: 1px solid black;
            }

            /* it will collapse the border spaces and make it single, need to add directly on table as it is table property */
            #music{
                border-collapse: collapse;
                text-align: center;
            }

            thead th{
                background-color: brown;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bolder;
                color: azure;
            }

            /* alternate table colouring */
            #music tbody tr:nth-child(even){
                background-color: yellowgreen;
            }

            #music tbody tr:nth-child(odd){
                background-color: orangered;
            }